################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Piler/bin/Debug
/Piler/obj/Debug
